ion-card{
  width: 110%;
  margin-left: 15px;
}

span { color: rgb(34, 34, 34); font-family: 'Helvetica Neue', sans-serif; font-size: 15px;
  font-weight: bold; letter-spacing: -1px; line-height: 1; }

.numero_familia{
  width: 50px;
  border-radius: 100%;
  color: red;
  background-color: rgb(6, 221, 250);
}

.valor{
  margin-right: 23px;
}
