<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" ></ion-menu-button>
    <ion-title>
      Sincronização
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="wrap">

    <ul>
      <li>
        <div class="card">
          <label for="four" class="group-checkbox">
            <img src="../../assets/family.png" width="150%">
          </label>
          <h3 class="card-title">Drink a beer</h3>
        </div>
      </li>

      <li>
        <div class="card">
          <label for="three" class="group-checkbox">
            <input type="checkbox" name="three" id="three" />
            <i></i>
          </label>
          <h3 class="card-title">Code a mobile app</h3>
        </div>
      </li>

      <li>
        <div class="card checked">
          <label for="two" class="group-checkbox">
            <input type="checkbox" name="two" id="two" checked />
            <i></i>
          </label>
          <h3 class="card-title">Design a mobile app</h3>
        </div>
      </li>

      <li>
        <div class="card checked">
          <label for="one" class="group-checkbox">
            <input type="checkbox" name="one" id="one" checked />
            <i></i>
          </label>
          <h3 class="card-title">Study HTML and CSS</h3>
        </div>
      </li>
    </ul>
  </div>

</ion-content>
