<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" ></ion-menu-button>
    <ion-title>
      <span id="usuario">{{nome}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div>

</div>

<ion-content [fullscreen]="true" [color]="bg">



      <ion-grid fixed>
        <ion-row>
          <ion-card>
            <ion-card-content>
              <ion-col size="6"><img src="assets/family.png"/></ion-col> lll
            </ion-card-content>

          </ion-card>

        </ion-row>
      </ion-grid>





<ion-grid>
   <ion-row>
      <ion-col size="4">
              <ion-card class="cardf">
                <img src="assets/male-sign-emoji.png"/><br>
                <div style="width: 100%; margin: 0; background-color: aquamarine; color: rgb(156, 156, 156);">68</div>
              </ion-card>
      </ion-col>
      <ion-col size="4">
            <ion-card class="cardf">
              <img src="assets/female-sign-emoji.png"/>
              <br>
              <div style="width: 100%; margin: 0; background-color: aquamarine; color: rgb(156, 156, 156);">68</div>
            </ion-card>
      </ion-col>

      <ion-col size="4">
            <ion-card class="cardf">
              <img src="assets/teenager-male.png"/><br>
              <div style="width: 100%; margin: 0; background-color: aquamarine; color: rgb(156, 156, 156);">68</div>
            </ion-card>
      </ion-col>

   </ion-row>
</ion-grid>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" routerLink="fse">

  <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>

</ion-fab>



</ion-content>
