.cardf{
  text-align: center;
  background-color: #fdfdfd;
}

.cardbg{
  margin-top: 0;
  height: 100%;
  background-color: #a76f77;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.bg{
   background-color: red;
}
