<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-menu-button slot="start" ></ion-menu-button>
    <ion-title>
      Acividades
    </ion-title>
  </ion-toolbar>


  <ion-toolbar >
    <ion-segment  [(ngModel)]="selectedSegment">
        <ion-segment-button value="local">
            <ion-label>Local</ion-label>
        </ion-segment-button>
        <ion-segment-button value="servidor"><ion-label>Servidor</ion-label></ion-segment-button>
    </ion-segment>
 </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

 	<!--Area dos segmentos-->
   <div [ngSwitch]="selectedSegment">

    <ion-searchbar placeholder="Pesquisar">

    </ion-searchbar>

          <!--caso seja local-->
        <div *ngSwitchCase="'local'">



              <ion-list>

                  <ion-item *ngFor="let f of fseService.fse">
                      <table>
                        <thead>
                          <th>
                            ID
                          </th>
                          <th>
                            Nome
                          </th>
                          <th>
                            contacto
                          </th>

                    </thead>
                        <tbody class="tbody">
                             <td>{{ f.id }}</td>
                             <td>{{ f.nome }}</td>
                             <td>{{ f.contacto }}</td>

                             <td>
                              <ion-icon color="primary" name="create" style="zoom:1.3"></ion-icon> &nbsp;

                              <a (click)="presentAlertConfirm(f.id)"><ion-icon color="danger" name="trash" style="zoom:1.3"></ion-icon></a>
                             </td>
                        </tbody>

                      </table>


                  </ion-item>


              </ion-list>




        </div>

          <!--caso seja servidor-->

          <div *ngSwitchCase="'servidor'">

                      <app-servidor></app-servidor>

          </div>

  </div>



</ion-content>
