<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detalhes Da familia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
            <div class="div">
              <ion-card-content>

               <ion-item-divider>

                 <ion-label>

                  <ion-col size="6"><img src="assets/family.png"/></ion-col>
                  <ion-col size="6" class="colF"><span class="famlia"></span> <br>
                  <ion-icon name="home"></ion-icon> , &nbsp;  &nbsp;


                  </ion-col>
                 </ion-label>


               </ion-item-divider>

               <ion-grid>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Data de inscicao: 04/12/2021</span>

                 <ion-col size="3">
                  <ion-card>
                    <ion-item>
                      <ion-icon name="person"></ion-icon>
                      &nbsp;
                     Responsavel

                    </ion-item>
                 </ion-card>  <ion-card>
                  <ion-item>
                    <ion-icon name="home"></ion-icon>
                    &nbsp;
                    Moradia
                    </ion-item>
               </ion-card>  <ion-card>
                <ion-item>
                  <ion-icon name="man"></ion-icon>
                  &nbsp;
                 Adultos
                 <ion-badge slot="end">3</ion-badge>
                </ion-item>
             </ion-card>
                  <ion-card routerLink="#">
                     <ion-item>
                      <ion-icon name="panorama"></ion-icon>
                      &nbsp;
                      Criancas
                      <ion-badge slot="end"></ion-badge>
                     </ion-item>
                  </ion-card>

                 </ion-col>

                <ion-button color="success" style="float: right; margin-right: 2%;">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                  Todos
                </ion-button>

               </ion-grid>




              </ion-card-content>
            </div>
</ion-content>
