<ion-header>
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-back-button (click)="limpar_ao_voltar()" title="voltar" value="voltar"></ion-back-button>
    </ion-buttons>

    <ion-title>Finalizar</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >

            <div class="meudiv">

            <ion-title> Confime para finalizar o <br>cadastro</ion-title>

            <br>

            <ion-button  (click)="voltarHome()">Confirmar</ion-button>

            </div>

</ion-content>

